body {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(252, 251, 251);
  text-shadow: black;
  color: #111111;
}

.App {
  text-align: left;
  padding: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: rgb(7, 7, 7);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bar {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #000000;
  display: inline-block;
  width: 100%;
  border-radius: 45px;
  max-height: 81px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(253, 253, 253);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3c46a3;
}

a {
  color: #070707;
}

a:hover {
  color: rgb(255, 194, 242);
}

.homeimage {
  width: 250px;
}

.dd {
  color: red;
}

.fpages {
  width: 500px;
}

.page {}

.flag-link {
  text-decoration: underline;
}

.card {
  width: 500px;
  background-color: #000000;
  margin-bottom: 25px;
}

.about {
  border: black 3px;
  padding: 15px;
  width: 900px;
  border: black 3px solid;
}

.img {
  width: 300px;
}